[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.3.1"
black = "==19.3b0"
python-githooks = "==1.0.6"
pylama = "==7.6.6"
pylama-pylint = "==3.1.1"
guppy3 = "==3.0.3"

[packages]
filemagic = "==1.6"
certifi = "*"

[requires]
python_version = "3.6"
